flask
flask-cors
flask-limiter
google-generativeai
fuzzywuzzy
dnspython
requests
python-whois
beautifulsoup4
pyopenssl
cryptography
speechrecognition
pyttsx3
transformers
torch
torchvision
pillow
validators
python-nmap
imagehash
opencv-python
scikit-learn
exifread
piexif
deepface
markdown2
pytz
python-dateutil
